/* Reset style default */
p:last-child {
  margin: 0; }

a:hover {
  text-decoration: none; }

ul, ol {
  padding: 0;
  margin: 0; }
  ul li, ol li {
    list-style-type: none; }

button:focus {
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

/* Extend */
.start-now, .our-cus .our-customers .avata {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out; }

/* Font icon css */
.til .til-head, .daily .daily-head, .member .member-head, .customer .customer-head, .our-cus .head-rec {
  font-size: 48px;
  font-family: Roboto-light;
  line-height: 63px; }

@font-face {
  font-family: Roboto-regular;
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: Roboto-italic;
  src: url("../fonts/Roboto-Italic.ttf"); }

@font-face {
  font-family: Roboto-light;
  src: url("../fonts/Roboto-Light.ttf"); }

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto-light; }

.mb-view {
  display: none; }

.row {
  margin: 0px; }

.start-now {
  width: 225px;
  height: 50px;
  border-radius: 100px;
  border: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background: -webkit-linear-gradient(311.2deg, #B4EC51 0%, #429321 100%);
  background: -o-linear-gradient(311.2deg, #B4EC51 0%, #429321 100%);
  background: -webkit-linear-gradient(138.8deg, #B4EC51 0%, #429321 100%);
  background: -o-linear-gradient(138.8deg, #B4EC51 0%, #429321 100%);
  background: linear-gradient(311.2deg, #B4EC51 0%, #429321 100%);
  color: #FFFFFF;
  font-family: Roboto-regular;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer; }
  .start-now:hover {
    background: -webkit-linear-gradient(112.12deg, #B4EC51 0%, #429321 100%);
    background: -o-linear-gradient(112.12deg, #B4EC51 0%, #429321 100%);
    background: -webkit-linear-gradient(337.88deg, #B4EC51 0%, #429321 100%);
    background: -o-linear-gradient(337.88deg, #B4EC51 0%, #429321 100%);
    background: linear-gradient(112.12deg, #B4EC51 0%, #429321 100%); }

header {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat; }
  header .container-head {
    margin-top: 41px; }
    header .container-head .about-us {
      color: #283238;
      font-family: Roboto-regular;
      font-size: 12px;
      letter-spacing: 1px;
      margin-right: 38px;
      margin-top: 10px;
      float: right; }
    header .container-head .sign-in {
      background: none;
      height: 36px;
      width: 82px;
      border: 2px solid #8BC34A;
      border-radius: 100px;
      color: #8BC34A;
      font-size: 12px;
      letter-spacing: 1px;
      float: right; }
      header .container-head .sign-in:hover {
        background-color: #4A1111; }
  header .banner-title {
    margin-top: 180px;
    text-align: center; }
  header .icon {
    font-size: 36px;
    color: #283238;
    margin-top: 53px;
    text-align: center; }
  header .text {
    margin-top: 14px;
    color: #283238;
    font-size: 36px;
    line-height: 48px;
    font-family: Roboto-light;
    text-align: center; }
  header .head-content {
    color: #283238;
    font-family: Roboto-italic;
    font-size: 18px;
    line-height: 24px;
    margin-top: 53px;
    text-align: center; }
  header .button-head {
    text-align: center;
    margin-top: 31px;
    margin-bottom: 233px; }

.til {
  -webkit-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF; }
  .til .til-head {
    margin-top: 100px; }
    .til .til-head .ti-bookmark-alt {
      font-size: 36px;
      margin-right: 19px; }
  .til .content-1 {
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    margin-top: 15px; }
  .til .img {
    text-align: center;
    margin-top: 100px; }
    .til .img img {
      max-width: 100%; }
  .til .content-2 {
    font-size: 13px;
    line-height: 24px;
    margin-top: 25px;
    text-align: justify; }
  .til .button-til {
    margin-top: 30px;
    margin-bottom: 100px; }

.daily {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1); }
  .daily .daily-head {
    margin-top: 100px; }
    .daily .daily-head .ti-write, .daily .daily-head .ti-calendar {
      font-size: 36px;
      margin-right: 18px; }
  .daily .content-1 {
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    margin-top: 15px; }
  .daily .content-2 {
    font-size: 13px;
    line-height: 24px;
    margin-top: 25px;
    text-align: justify; }
  .daily .dai_img {
    text-align: center;
    margin-top: 116px; }
    .daily .dai_img img {
      max-width: 100%; }
  .daily .button-daily {
    margin-top: 30px;
    margin-bottom: 100px; }

.rectangle-3 {
  background: -webkit-linear-gradient(315deg, #B4EC51 0%, #429321 100%);
  background: -o-linear-gradient(315deg, #B4EC51 0%, #429321 100%);
  background: -webkit-linear-gradient(135deg, #B4EC51 0%, #429321 100%);
  background: -o-linear-gradient(135deg, #B4EC51 0%, #429321 100%);
  background: linear-gradient(315deg, #B4EC51 0%, #429321 100%); }
  .rectangle-3 .our-rectangle3 {
    padding-top: 68.75px;
    padding-bottom: 70px; }
    .rectangle-3 .our-rectangle3 .rec-group {
      width: 228px; }
      .rectangle-3 .our-rectangle3 .rec-group .number {
        margin: auto;
        width: 109.5px; }
        .rectangle-3 .our-rectangle3 .rec-group .number img {
          max-width: 100%;
          padding-bottom: 10.75px; }
        .rectangle-3 .our-rectangle3 .rec-group .number p {
          color: #FFFFFF;
          text-align: center;
          font-size: 16px;
          line-height: 21px;
          letter-spacing: 1px; }

.member {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1); }
  .member .member-head {
    margin-top: 100px; }
    .member .member-head .ti-user {
      font-size: 36px;
      margin-right: 18px; }
  .member .content-1 {
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    margin-top: 15px; }
  .member .member-content {
    line-height: 24px;
    color: #283238;
    text-align: justify;
    font-size: 13px;
    padding-left: 0px; }
    .member .member-content .member-detail-1 {
      margin-top: 26px; }
      .member .member-content .member-detail-1 .ti-check-box {
        font-size: 18px;
        color: #8BC34A; }
    .member .member-content .member-detail-2 {
      margin-top: 17px; }
      .member .member-content .member-detail-2 .ti-check-box {
        font-size: 18px;
        color: #8BC34A; }
  .member .img {
    margin-top: 100px;
    text-align: center; }
    .member .img img {
      max-width: 100%; }
  .member .button-member {
    margin-top: 30px;
    margin-bottom: 100px; }

.customer {
  -webkit-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF; }
  .customer .customer-head {
    margin-top: 100px; }
    .customer .customer-head .ti-face-smile {
      font-size: 36px;
      margin-right: 19px; }
  .customer .content-1 {
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    margin-top: 15px; }
  .customer .img {
    margin-top: 100px;
    text-align: center; }
    .customer .img img {
      max-width: 100%; }
  .customer .customer-content {
    line-height: 24px;
    color: #283238;
    text-align: justify;
    font-size: 13px; }
    .customer .customer-content .customer-detail-1 {
      margin-top: 26px; }
      .customer .customer-content .customer-detail-1 .ti-unlock {
        font-size: 18px;
        color: #8BC34A; }
    .customer .customer-content .customer-detail-2 {
      margin-top: 17px; }
      .customer .customer-content .customer-detail-2 .ti-cup, .customer .customer-content .customer-detail-2 .ti-stats-up {
        font-size: 18px;
        color: #8BC34A; }
  .customer .button-customer {
    margin-bottom: 100px;
    margin-top: 30px; }

.our-cus {
  background-image: url(../images/Rectangle_3.jpg);
  background-color: rgba(40, 50, 56, 0.9); }
  .our-cus .head-rec {
    color: #FFFFFF;
    margin-top: 50px;
    text-align: center; }
  .our-cus .owl-carousel .owl-stage-outer {
    height: 155px; }
  .our-cus .owl-carousel .owl-item img {
    width: 53%;
    padding-top: 10px;
    margin: auto; }
  .our-cus .our-customers {
    height: 127px;
    margin-top: 39px;
    font-family: Roboto-regular; }
    .our-cus .our-customers .cus-name {
      color: #FFFFFF;
      font-size: 13px;
      text-align: center;
      margin-top: 16px;
      display: block; }
    .our-cus .our-customers .cus-job {
      display: block;
      color: #FFFFFF;
      font-size: 10px;
      text-align: center;
      padding-top: 2px; }
    .our-cus .our-customers .avata:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
    .our-cus .our-customers .avata:hover + .cus-name {
      margin-top: 25px; }
  .our-cus .ti-quote-left {
    font-size: 72px;
    color: #FFFFFF;
    margin-top: 39px; }
  .our-cus .tes-text {
    color: #FFFFFF;
    font-family: Roboto-light;
    font-size: 18px;
    margin-top: 104px;
    line-height: 30px;
    text-align: justify; }
  .our-cus .ti-quote-right {
    font-size: 72px;
    color: #FFFFFF;
    margin-top: -25px;
    margin-bottom: 24px; }

footer {
  margin-left: -2px;
  border: 1px solid #ECEFF1;
  font-family: Roboto-regular;
  background-color: #39474E;
  -webkit-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1); }
  footer .row {
    margin-top: 45px; }
    footer .row .col-1 {
      margin-top: -7px; }
      footer .row .col-1 img {
        width: 96px; }
    footer .row .col-2 p {
      color: #8BC34A;
      font-size: 13px;
      line-height: 18px; }
    footer .row .col-2 a {
      font-size: 10px;
      color: #D0D8DC; }
    footer .row .col-3 {
      margin-top: 43px; }
      footer .row .col-3 ul li {
        float: left; }
        footer .row .col-3 ul li a {
          color: #8BC34A;
          font-size: 13px;
          padding-left: 0px; }
        footer .row .col-3 ul li .ti-twitter-alt, footer .row .col-3 ul li .ti-youtube, footer .row .col-3 ul li .ti-linkedin {
          margin-left: 37px; }
    footer .row .copyright {
      font-size: 10px;
      margin-top: -60px;
      line-height: 13px;
      color: #D0D8DC;
      margin-bottom: 57px; }

/* Reset style default */
p:last-child {
  margin: 0; }

a:hover {
  text-decoration: none; }

ul, ol {
  padding: 0;
  margin: 0; }
  ul li, ol li {
    list-style-type: none; }

button:focus {
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

/* Extend */
.start-now, .our-cus .our-customers .avata {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out; }

/* Font icon css */
.til .til-head, .daily .daily-head, .member .member-head, .customer .customer-head, .our-cus .head-rec {
  font-size: 48px;
  font-family: Roboto-light;
  line-height: 63px; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  header .banner-title {
    margin-top: 100px; }
  header .icon {
    font-size: 30px;
    margin-top: 40px; }
  header .text {
    font-size: 30px;
    line-height: 32px; }
  header .head-content {
    font-size: 14px;
    margin-top: 40px; }
  header .button-head {
    margin-top: 45px;
    margin-bottom: 100px; }
  .til .til-head {
    margin-top: 25px;
    font-size: 36px; }
    .til .til-head .ti-bookmark-alt {
      font-size: 30px;
      margin-right: 13px; }
  .til .content-1 {
    font-size: 13px;
    font-style: italic;
    line-height: 24px;
    margin-top: 5px; }
  .til .img {
    margin-top: 50px; }
  .til .content-2 {
    font-size: 13px;
    line-height: 24px;
    margin-top: 5px; }
  .til .button-til {
    margin-top: 30px;
    margin-bottom: 50px; }
  .daily .daily-head {
    font-size: 36px;
    margin-top: 25px; }
    .daily .daily-head .ti-write, .daily .daily-head .ti-calendar {
      font-size: 30px;
      margin-right: 10px; }
  .daily .content-1 {
    font-size: 13px;
    font-style: italic;
    line-height: 24px;
    margin-top: 5px; }
  .daily .content-2 {
    font-size: 13px;
    line-height: 24px;
    margin-top: 5px; }
  .daily .dai_img {
    margin-top: 33px; }
  .daily .button-daily {
    margin-top: 40px;
    margin-bottom: 50px; }
  .member .member-head {
    font-size: 36px;
    margin-top: 50px; }
    .member .member-head .ti-user {
      font-size: 30px;
      margin-right: 12px; }
  .member .content-1 {
    margin-top: 5px;
    font-size: 13px;
    line-height: 24px; }
  .member .member-content {
    line-height: 21px;
    font-size: 13px; }
    .member .member-content .member-detail-1 {
      margin-top: 10px; }
    .member .member-content .member-detail-2 {
      margin-top: 5px; }
  .member .img {
    margin-top: 25px; }
  .member .button-member {
    margin-top: 30px;
    margin-bottom: 50px; }
  .customer .customer-head {
    font-size: 36px;
    margin-top: 25px; }
    .customer .customer-head .ti-face-smile {
      font-size: 30px;
      margin-right: 12px; }
  .customer .content-1 {
    font-size: 13px;
    line-height: 24px; }
  .customer .img {
    margin-top: 50px; }
  .customer .customer-content {
    line-height: 21px;
    font-size: 13px; }
    .customer .customer-content .customer-detail-1 {
      margin-top: 10px; }
    .customer .customer-content .customer-detail-2 {
      margin-top: 5px; }
  .customer .button-customer {
    margin-bottom: 50px;
    margin-top: 35px; }
  footer .row {
    margin-top: 54px; }
    footer .row .col-3 {
      margin-top: 43px; }
      footer .row .col-3 ul li {
        margin-left: -3px;
        float: left; }
        footer .row .col-3 ul li .ti-twitter-alt {
          margin-left: 18px; }
        footer .row .col-3 ul li .ti-youtube {
          margin-left: 18px; }
        footer .row .col-3 ul li .ti-linkedin {
          margin-left: 18px; }
    footer .row .copyright {
      margin-top: -70px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .mb-view {
    display: block; }
  .pc-view {
    display: none; }
  .start-now {
    height: 45px;
    width: 144px;
    font-size: 14px; }
  header .container-head {
    margin-top: 19px; }
    header .container-head .about-us {
      margin-right: 23px; }
  header .banner-title {
    height: 43px;
    margin-top: 30px; }
    header .banner-title .hapo {
      width: 144px; }
  header .icon {
    font-size: 24px;
    margin-top: 40px; }
  header .text {
    font-size: 24px;
    line-height: 32px; }
  header .head-content {
    font-size: 14px;
    margin-top: 15px; }
  header .button-head {
    margin-top: 30px;
    margin-bottom: 50px; }
  .til .til-head {
    text-align: center;
    margin-top: 50px;
    font-size: 36px; }
    .til .til-head .ti-bookmark-alt {
      font-size: 30px;
      margin-right: 13px; }
  .til .content-1 {
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    margin-top: 15px;
    text-align: center; }
  .til .img {
    margin-top: 25px; }
  .til .content-2 {
    font-size: 13px;
    line-height: 21px; }
  .til .button-til {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px; }
  .daily .daily-head {
    text-align: center;
    font-size: 36px;
    margin-top: 50px; }
    .daily .daily-head .ti-write {
      font-size: 30px;
      margin-right: 10px; }
    .daily .daily-head .ti-calendar {
      font-size: 30px;
      margin-right: 10px; }
  .daily .content-1 {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    line-height: 24px; }
  .daily .content-2 {
    font-size: 13px;
    line-height: 21px;
    margin-top: 31px; }
  .daily .dai_img {
    margin-top: 33px; }
  .daily .button-daily {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px; }
  .rectangle-3 .our-rectangle3 .rec-group {
    width: 0px;
    padding-left: 15px; }
  .member .member-head {
    font-size: 36px;
    margin-top: 50px;
    text-align: center; }
    .member .member-head .ti-user {
      font-size: 30px;
      margin-right: 12px; }
  .member .content-1 {
    text-align: center;
    font-size: 14px;
    line-height: 24px; }
  .member .member-content {
    line-height: 21px;
    font-size: 13px; }
    .member .member-content .member-detail-1 {
      margin-top: 57px; }
    .member .member-content .member-detail-2 {
      margin-top: 20px; }
  .member .img {
    text-align: center;
    margin-top: -270px; }
  .member .button-member {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 38px; }
  .customer .customer-head {
    font-size: 36px;
    margin-top: 50px;
    text-align: center; }
    .customer .customer-head .ti-face-smile {
      font-size: 30px;
      margin-right: 12px; }
  .customer .content-1 {
    text-align: center;
    font-size: 14px;
    line-height: 24px; }
  .customer .img {
    margin-top: -222px; }
  .customer .customer-content {
    line-height: 21px;
    font-size: 13px; }
    .customer .customer-content .customer-detail-1 {
      margin-top: 26px; }
    .customer .customer-content .customer-detail-2 {
      margin-top: 17px; }
      .customer .customer-content .customer-detail-2 .ti-cup {
        color: #8BC34A; }
  .customer .button-customer {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 35px; }
  .our-cus .head-rec {
    font-size: 36px;
    height: 48px; }
  .our-cus .owl-carousel .owl-stage-outer {
    height: 155px; }
  .our-cus .our-customers {
    height: 127px;
    margin-top: 24px; }
    .our-cus .our-customers .cus-name {
      line-height: 19px; }
  .our-cus .ti-quote-left {
    font-size: 64px;
    margin-top: 50px;
    padding-left: 0px; }
  .our-cus .tes-text {
    font-size: 17px;
    padding-left: 0px;
    margin-top: 110px; }
  .our-cus .ti-quote-right {
    font-size: 64px;
    margin-top: -25px;
    text-align: center;
    padding-left: 0px; }
  footer .row {
    margin-top: 54px; }
    footer .row .col-3 {
      margin-top: 43px; }
      footer .row .col-3 ul li {
        margin-left: -3px;
        float: left; }
        footer .row .col-3 ul li .ti-twitter-alt {
          margin-left: 18px; }
        footer .row .col-3 ul li .ti-youtube {
          margin-left: 18px; }
        footer .row .col-3 ul li .ti-linkedin {
          margin-left: 18px; }
    footer .row .copyright {
      margin-top: -70px; } }

@media screen and (max-width: 767px) {
  .mb-view {
    display: block; }
  .pc-view {
    display: none; }
  .start-now {
    height: 40px;
    width: 144px;
    font-size: 14px; }
  header .container-head {
    margin-top: 15px; }
    header .container-head .sign-in {
      margin-right: 15px;
      height: 30px;
      width: 70px;
      font-size: 9px; }
    header .container-head .about-us {
      margin-right: 23px;
      font-size: 9px; }
  header .banner-title {
    height: 29px;
    margin-top: 8px; }
    header .banner-title .hapo {
      width: 96px; }
  header .icon {
    font-size: 18px;
    margin-top: 20px; }
  header .text {
    font-size: 18px;
    line-height: 24px; }
  header .head-content {
    font-size: 9px;
    margin-top: 15px;
    line-height: 11px; }
  header .button-head {
    margin-top: 15px;
    height: 40px;
    margin-bottom: 27px; }
  .til .til-head {
    text-align: center;
    margin-top: 30px;
    font-size: 24px; }
    .til .til-head .ti-bookmark-alt {
      font-size: 20px;
      margin-right: 14px; }
  .til .content-1 {
    font-size: 13px;
    line-height: 24px;
    margin-top: 5px;
    text-align: center; }
  .til .img {
    margin-top: 10px; }
  .til .content-2 {
    margin-top: 20px;
    line-height: 21px; }
  .til .button-til {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px; }
  .daily .daily-head {
    text-align: center;
    margin-top: 30px;
    font-size: 24px; }
    .daily .daily-head .ti-write, .daily .daily-head .ti-calendar {
      font-size: 20px;
      margin-right: 14px; }
  .daily .content-1 {
    font-size: 13px;
    line-height: 24px;
    margin-top: 5px;
    text-align: center; }
  .daily .content-2 {
    margin-top: 20px;
    line-height: 21px; }
  .daily .dai_img {
    margin-top: 15px; }
  .daily .button-daily {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px; }
  .member .member-head {
    font-size: 24px;
    margin-top: 30px;
    text-align: center; }
    .member .member-head .ti-user {
      font-size: 20px;
      margin-right: 8px; }
  .member .content-1 {
    text-align: center;
    font-size: 13px;
    line-height: 24px; }
  .member .member-content {
    line-height: 21px;
    font-size: 13px; }
    .member .member-content .member-detail-1 {
      margin-top: 20px; }
    .member .member-content .member-detail-2 {
      margin-top: 15px; }
  .member .img {
    margin-top: 20px; }
  .member .button-member {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px; }
  .customer .customer-head {
    font-size: 24px;
    margin-top: 30px;
    text-align: center; }
    .customer .customer-head .ti-face-smile {
      font-size: 20px;
      margin-right: 8px; }
  .customer .content-1 {
    text-align: center;
    font-size: 13px;
    line-height: 24px; }
  .customer .img {
    margin-top: 20px; }
  .customer .customer-content {
    line-height: 21px;
    font-size: 13px; }
    .customer .customer-content .customer-detail-1 {
      margin-top: 20px; }
    .customer .customer-content .customer-detail-2 {
      margin-top: 15px; }
  .customer .button-customer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px; }
  .our-cus .head-rec {
    font-size: 24px;
    margin-top: 25px; }
  .our-cus .owl-carousel .owl-stage-outer {
    height: 154px; }
  .our-cus .our-customers {
    margin-top: 0px; }
    .our-cus .our-customers .cus-name {
      line-height: 19px; }
  .our-cus .ti-quote-left {
    font-size: 48px;
    margin-top: 83px;
    padding-left: 0px; }
  .our-cus .tes-text {
    font-size: 14px;
    line-height: 25px;
    padding: 0px;
    margin-top: 0px; }
  .our-cus .ti-quote-right {
    font-size: 48px;
    margin-top: 5px;
    float: right;
    right: 10px; }
  footer .row {
    margin-top: 24px; }
    footer .row .col-1 {
      margin-top: 0px; }
    footer .row .col-2 {
      margin-top: 25px; }
      footer .row .col-2 .how-to-work, footer .row .col-2 .legal {
        float: right; }
    footer .row .col-3 {
      margin-top: 24px; }
      footer .row .col-3 ul li {
        margin-left: -3px;
        float: left; }
        footer .row .col-3 ul li .ti-twitter-alt, footer .row .col-3 ul li .ti-youtube, footer .row .col-3 ul li .ti-linkedin {
          margin-left: 18px; }
    footer .row .copyright {
      margin-top: -40px;
      margin-bottom: 27px;
      float: right; } }

@media screen and (max-width: 600px) {
  .rectangle-3 .our-rectangle3 .rec-group {
    padding-right: 75px; } }

@media screen and (max-width: 479px) {
  .our-cus .owl-carousel .owl-item img {
    width: 22% !important; }
  footer .row .col-2 p {
    font-size: 10px;
    line-height: 18px; }
  footer .row .col-2 a {
    font-size: 9px; }
  footer .row .col-3 {
    margin-top: 43px; }
    footer .row .col-3 ul li a {
      font-size: 13px; }
  footer .row .copyright {
    font-size: 9px;
    line-height: 13px; } }
